* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #e4e4e4;
}

h1{
  color: #ffffff;
}

.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 30px;
  background: #c7d8e7;
  overflow-x: hidden;
  padding: 8px 0;
}

#bg{
  background-color: #0d659d ;
  color: #c7d8e7;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #0d659d;
  display: block;
}

.sidenav a:hover {
  color: #064579;
  background-color: white;
}

.sidebar {
  margin-top: -4em;
}

.form-container {
  margin-left: 220px;
}

.form-container .form-wrap {
    background: ;
    width: 70%;
    padding: 20px 20px;
}

.form-container .form-wrap h2 {
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 19px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px 15px;
}

.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #353535;
    width: 100%;
}

.form-container .form-wrap .form-submit {
    display: flex;
    justify-content: center;
}


.form-container .form-wrap .form-submit input[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 2px;
    background: #353535;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
}

.row{
  background-color: #0D659D;
  color: #ffffff;
}
