body {
	margin: 0px;
	font-family: sans-serif;
	background-image: linear-gradient(to right, #c7d8e7, rgb(248,248,255));
}

h1, h2 {
	font-family: verdana;
}
#content {
	margin: 0px 60px 10px 65px;
}

#option-select {
	margin-right: 20px;
}

.option {
	margin-bottom: 20px;
}

#game-window {
	position: relative;
	display: grid;
	grid-template-columns: 25% 50% auto;
	grid-template-rows: 575px;
}

#game-grid {
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid-position {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: auto;
	border: 1px solid gray;
	text-align: center;
	background-color: #555;
}

#robot {
	background-color: #000;
	height: 50%;
	width: 50%;
}

#goal {
	background-color: #c7d8e7;	
	height: 35%;
	width: 30%;
	border-radius: 50%;
}

#robot-try-again, #next-level {
	visibility: hidden;
	display: block;
}


/*Code output section*/
#code {
	visibility: hidden;
	text-align: center;
	border: 1px solid gray;
}

#code > #code-output {
	text-align: left;
}

#code-elements {
	visibility: hidden;
	position: absolute;
	bottom: 10%;
}

#code-elements > div {
	margin-top: 20px;
	margin-left: 10px;
	text-align: left;
}

.highlighted {
	display: inline;
	color: #0d659d;
}
