body {
	margin: 0px;
}
.console {
    margin: 2%;
    margin-right: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 300px;
}
.py-editor{
    width: 30%;
}
#output {
    border: 1px black solid;
    width: 20%;
    height: inherit;
    margin: 0;
    word-wrap: break-word; 
    opacity: 0;
}

