

body {
	background-color: white;
	margin: 0;
	padding: 0;
	font-family:arial;
	font-size: 15px;
	} 

nav {
	position: relative;
	background-color: rgb(127,255,212);
	display: block;
	width: 100%;
	background-image: linear-gradient(to right, rgb(127,255,212), #c7d8e7);
	
}

.topnav {
	border-bottom: 1px solid ##c7d8e7;
	height: 50px;

}
.topnav a {
	top: 0;
	float: right;
	padding: 5px 5px 5px 5px;
	margin: 13px 5px 5px 5px;
	text-decoration: none;
	color: black;
	
}

.topnav a:hover{
	border-radius: 10px;
	color: #000000;
	background-color: #7fffd4;
}

.bottomnav {
	border-top: 1px solid ##c7d8e7;
	background-image: linear-gradient(to left, rgb(127,255,212), #c7d8e7);
	height: 50px;
}
.bottomnav a {
	bottom: 0;
	float: left;
	padding: 5px 5px 5px 5px;
	margin: 13px 5px 5px 5px;
	text-decoration: none;
	color: black;
}

.bottomnav a:hover{
	border-radius: 10px;
	color: #000000;
	background-color: #7fffd4;
}

.signin a{
	border-style: outset;
	text-align: center;
	text-decoration: none;
	padding: 5px 30px 5px 30px;
	margin: 10px 5px 5px 5px;
	border-radius: 10px;
	cursor: pointer;
}
.signin a:hover {
	background-color: #7fffd4;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	color: black;
}

.logo a {

	float: left;
	padding: 5px 50px 5px 50px;
	margin: 10px 5px 5px 5px;
	background-color: #ffffff;
}
.logo a:hover {
	border-radius: 0;
	border: 1px solid #000000;
}

.logoimg h1 {
	text-align: center;
	position: relative;
	width: 150px;
  	height: 40px;
	left: 10%;
	top: 200px;
	border: 1px solid #000000;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }

/* Set a style for all buttons */
button {
	background-color: #7fffd4;
	color: #000000;
	padding: 10px 40px;
	margin: 8px 0;
	border: outset;
	cursor: pointer;
	width: 100%;
	border-radius: 10px;
  }

button:hover {
	opacity: 0.8;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	color: black;
  }

.signinbox {
	margin: 300px 10%;
	width: 300px;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 10px 10px ;
	background-color: #f44336;
  }

.container {
	padding: 16px;
	background-color:#f1f1f1
  }
  
span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 80px;
  }

  /* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% 15% 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
  }
  

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
  }
	
  @keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
  }

  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
	   display: block;
	   float: none;
	}
	.cancelbtn {
	   width: 100%;
	}
  }

  #myBtn {
	display: none;
	position: fixed;
	text-align: center;
	width: 60px;
	height: 20px;
	bottom: 45px;
	right: 30px;
	z-index: 99;
	font-size: 15px;
	border: ridge;
	outline: none;
	background-color: #7fffd4;
	color: #000000;
	cursor: pointer;
	padding: 5px 15px 20px 15px;
	border-radius: 10px;
	border: inset;
  }