@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.confirm-pass body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 15px;
}

/* Full-width input fields */
.confirm-pass input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons THIS IS CAUSING ERRORS IN THE SETTINGS PAGE*/
.confirm-pass button {
  background-color: #7fffd4;
  color: #000000;
  padding: 10px 40px;
  margin: 8px 0;
  border: outset;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.confirm-pass button:hover {
  opacity: 0.8;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.container {
  padding: 16px;
  background-color: #f1f1f1;
}

.confirm-pass h1 {
  color: black;
}

.confirm-pass fieldset {
  padding: 150px;
  border: none;
  margin: auto;
}
