.contact * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colscheme1: #050b1f;
  --colscheme2: #6bcae2;
  --colscheme3: #0d659d;
  --colscheme4: #c7d8e7;
  --colscheme5: #11f7ff;
}

.topnav {
  z-index: 5;
}
.contact footer {
  background: #e8e8e8;
  height: 250px;
  display: flex;
  color: black;
}
.contact footer p {
  margin: auto;
  font-style: italic;
}
#ft-note {
  margin: auto;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 400px;
}

#main {
  position: relative;
  overflow: hidden;
}
#main-contact {
  width: 80%;
  margin: auto;

  position: relative;
  padding: 0 50px 50px 50px;
  font-family: "calibri light", sans-serif;
}

.pg-title {
  font-family: Lato, sans-serif;
  font-size: 50px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

#contact-form {
  background: #fff;
  font-family: "calibri light", sans-serif;
  padding: 50px;
  width: 60%;

  position: relative;
  left: 40%;
  z-index: 3;
  box-shadow: 5px 5px 7px #787878;
}

#contact-form h2 {
  margin-bottom: 40px;
}
#contact-form input {
  display: block;
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  color: #000000;
  border: 1px solid var(--colscheme4);
  border-bottom: 3px solid var(--colscheme4);
}
#contact-form input:focus,
#contact-form textarea:focus {
  background: #f0f6fc;
}
#contact-form textarea {
  display: block;
  padding: 10px;
  resize: none;
  width: 100%;
  height: 200px;
  font-family: "calibri light", sans-serif;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid var(--colscheme4);
}

#contact-form label {
  font-size: 20px;
}

#contact-form #btn-submit {
  background: var(--colscheme3);
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  color: white;
  margin: 30px 0 0 auto;

  transition: background 0.1s linear;
}

#contact-form #btn-submit:hover {
  background: var(--colscheme2);
  color: #000;
}
#contact-info {
  width: 40%;
  background: var(--colscheme3);
  padding: 50px;
  height: 550px;
  position: absolute;
  top: 300px;
  box-shadow: 3px 3px 5px #787878;
  color: white;
}

#contact-info h2 {
  margin-bottom: 30px;
}
#contact-info h3 {
  margin: 30px 0;
}
#contact-info a {
  color: white;
}

#contact-info img {
  position: absolute;
}
@media (max-width: 1500px) {
  #main-contact {
    width: 95%;
  }
  #contact-form {
    left: 40%;
  }
  #contact-info {
    width: 50%;
  }
}
@media (max-width: 1300px) {
  #main-contact {
    width: 95%;
  }
}

@media (max-width: 1080px) {
  #contact-form {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
  }
  #contact-info {
    position: relative;
    width: 100%;
    left: 0;
    top: 50px;
    height: auto;
    margin-bottom: 50px;
  }

  #contact-info img {
    position: absolute;
    right: 0px;
    top: 0px;
    left: auto;

    padding: 20px;
  }
}

@media (max-width: 900px) {
  #contact-info {
    overflow: hidden;
  }
}

@media (max-width: 800px) {
  #contact-info img {
    opacity: 30%;
    z-index: 0;
  }
  #contact-info p {
    z-index: 100;
  }
  #contact-form input {
    width: 100%;
  }

  #contact-form #btn-submit {
    margin: 30px auto;
  }
}

@media (max-width: 600px) {
  #contact-info img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: auto;
    padding: 20px;
  }
  #main-contact {
    width: 100%;
    padding: 0;
  }
}
