#content {
  margin: 0px 60px 10px 65px;
  display: flex;
  flex-direction: column;
}
#content .dashdropdown {
  float: right;
  padding: 5px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.dashboard hr {
  width: 100%;
}
.dashboard header {
  font: bold 25px verdana;
  width: 100%;
  margin: 0px 0px 15px 0px;
}
.dashboard h2 {
  font: bold 15px verdana;
  float: right;
  margin: 5px 10px 0px 0px;
}
.dashboard h1 {
  float: left;
  display: inline-block;
  font: bold 20px verdana;
  width: 37%;
  margin: 20px 0px 0px 0px;
}
#profile {
  height: 100px;
  display: inline-block;
  float: left;
  width: 50%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.daily-challenge {
  width: 50%;
  height: 100px;
  clear: right;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
#leaderboard {
  width: 40%;
  background-color: #7fa6c9;
  color: #fdfaf5;
  min-height: 100px;
  display: inline-block;
  margin-left: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  text-align: center;
  font: bold 15px verdana;
  padding-top: 5px;
  padding-bottom: 5px;
}
#leaderboard ol {
  list-style-type: none;
  margin: 10px 0px 20px 0px;
  padding: 0px;
}
#leaderboard li {
  text-align: left;
  width: 92%;
  margin: 7.5px 10px 7.5px 10px;
  padding: 10px 0px 10px 25px;
  background-color: #050b1f;
  color: #fdfaf5;
  text-decoration: none;
  font: 15px verdana;
  overflow: hidden;
  border-radius: 5px;
}

#leaderboard li:nth-child(1) {
  background-image: linear-gradient(to right, gold 0%, #050b1f 3%);
  color: gold;
}

#leaderboard li:nth-child(2) {
  background-image: linear-gradient(to right, silver 0%, #050b1f 3%);

  color: silver;
}
#leaderboard li:nth-child(3) {
  background-image: linear-gradient(to right, #cd7f32 0%, #050b1f 3%);

  color: #cd7f32;
}

#content .dropdown-elements {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  z-index: 1;
  padding: 5px 50px 5px 5px;
  margin: 5px;
  position: absolute;
  right: 3%;
  transition: opacity 0.5s ease-out, max-height 0.3s ease;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
#content .dropdown-elements a {
  display: block;
  float: none;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  color: black;
  text-align: right;
}
#content .dashdropdown:hover .dropdown-elements {
  opacity: 1;
  max-height: 100%;
}
#content .category {
  width: 100%;
  height: 110px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 0px 0px 30px 0px;
  text-align: center;
  font: 15px verdana;
}
#content .arrow {
  display: inline-block;
  border: solid black;
  border-width: 0px 4px 4px 0px;
  padding: 5px;
  margin: 0px 0px -3px 0px;
}
#content .right {
  float: right;
  margin: -10px 10px 0px 0px;
  transform: rotate(315deg);
}
#content .left {
  float: left;
  margin: 10px 0px 0px 10px;
  transform: rotate(-225deg);

}
#content .game {
  width: auto;
  float: left;
  height: 75px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 5px 20px 10px 20px;
  min-width: 15%;
}
#content .continue {
  width: 100%;
  height: 100px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 0px 0px 30px 0px;
}
#content .search-bar {
  float: left;
  display: inline-block;
  width: 60%;
  margin: 20px 0px 0px 0px;
}
#content .search-button {
  margin: 20.5px 0px 15px -29.5px;
  width: 29px;
  height: 29px;
}
