#dictgame_body {
	padding: 0;
	padding-bottom: 5vw;
	padding-top: 1vw;
	font-family: sans-serif;
	font-size: 1vw;
}

#dictgame_content {
	margin: 0px 6vw 1vw 6.5vw;
}

#dictgame_content p {
	margin-bottom: 1vw;
}

#dictgame_content .dictGameButton:hover:enabled {
	background-color: #d5d5d5;
}

.dictgame_pre {
	color: #6bcae2 !important;
	font-size: 100%;
	margin: 1vw 2vw 2vw 2vw;
}

.dictgame_h1 {
	font: bold 3vw verdana;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.dictgame_h2, .dictgame_h3 {
	font: bold 1.5vw verdana;
	text-align: center;
	background-color: #0d659d;
	color: #fbfaf5 !important;
	width: 100%;
	padding: 1vw;
}


[class^='dictGameButton'] {
	display: block;
	text-align: center;
	font: normal 1.1vw verdana;
	width: 100%;
	padding: 1vw;
	margin-top: 1vw;
	margin-bottom: 1.5vw;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.2);
	color: black !important;
}

/*Dictionary Containers*/

#dictGameWindow, #dictContainer, #solDictContainer, #dictgame_content #gameActions {
	display: flex;
	flex-direction: row;
}

#dictgame_content #gameActions {
	margin-top: 2vw;
}

#dictKeys, #dictValues, .dictOuterContainer, #allDicts #dictModify, #dictRemove {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dictOuterContainer, #dictModify {
	margin-right: 4vw;
}

.dictOuterContainer {
	margin-bottom: 4vw;
}

/*Dictionary Add/Remove UI */
#dictModify select, #dictRemove select {
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.2);
	color: black !important;
	padding: 1vw .5vw 1vw .5vw;     
	font: normal 1.1vw verdana;
	margin-left: .5vw;
	margin-bottom: 1vw;
}

#dictModify select option, #dictRemove select option {
	color: black !important;
}

#dictgame_content label {
	display: block;
}

#dictgame_content .keyBlock, #dictgame_content .valueBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	text-align: center;
	background-color: #555;
}

#dictgame_content img {
	width: 10vw;
	height: 10vw;
}

#dictPlayAgain {
	visibility: hidden;
	display: block;
}

/*Code output section*/
#dictCode {
	background-color: #050b1f;
	color: #fbfaf5 !important;
}

#dictCode > #dictCodeOutput {
	font-size: 1.1vw;
}

/*Other CSS*/

#dictGameDescription {
	margin-right: 5vw;
	text-align: center;
}

