#dictgame_body {
	position:relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	padding-bottom: 50px;
	padding-top: 10px;
	font-family: sans-serif;
}

#dictgame_content {
	margin: 0px 60px 10px 65px;
}

.dictgame_pre {
	color: inherit;
	font-size: 100%;
	margin-left: 20px;
}

.dictgame_h1 {
	margin: 0px;
	font: bold 30px verdana;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dictgame_h2, .dictgame_h3 {
	font: bold 22.5px verdana;
	text-align: center;
	background-color: #0d659d;
	color: #fbfaf5 !important;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dictgame_h2 {
	font: bold 24px verdana;
}

[class^='dictGameButton'] {
	display: block;
	text-align: center;
	font: normal 15px verdana;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.2);
	color: black;
}

/*Dictionary Containers*/

#dictGameWindow, #dictContainer, #solDictContainer, #gameActions {
	display: flex;
	flex-direction: row;
}

#dictKeys, #dictValues, .dictOuterContainer, #dictModify, #dictRemove {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dictOuterContainer, #dictModify {
	margin-right: 40px;
}

/*Dictionary Add/Remove UI */
#dictModify select, #dictRemove select {
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.2);
	padding: 10px 5px 10px 5px;     
	font: normal 14px verdana;
	margin-left: 5px;
	margin-bottom: 10px;
	color: black !important;
}

#dictModify select option, #dictRemove select option {
	color: black !important;
}

.keyBlock, .valueBlock {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	text-align: center;
	background-color: #555;
}

#dictPlayAgain {
	visibility: hidden;
	display: block;
}


/*Code output section*/
#dictCode {
	background-color: #050b1f;
	color: #fbfaf5 !important;
	width: 26%;
	max-height: 85vh;
}

#dictCode > #dictCodeOutput {
	visibility: inherit;
	text-align: left;
	background-color: #050b1f;
	color: #6bcae2 !important;
	font-size: 17px;
}

#dictCode > .dictgame_h2 {
	margin-top: 0;
	width: auto;
}

/*Other CSS*/

#dictGameDescription {
	margin-right: 50px;
	text-align: center;
}

