#ifcode_body {
	font-family: sans-serif;
	font-size: 1.5vw;
}

#ifCodeContent p {
	margin-bottom: 1vw;
}

#ifCodeContent {
	margin: 0 6vw 1vw 6.5vw;
}

.ifcode_h1 {
	margin-top: 2vw;
	margin-bottom: 2vw;
	font-size: 2.5vw;
	font-weight: 700;
}

.ifcode_pre {
	padding: 1.5vw 5vw 1.5vw 5vw;
	background-color: #050b1f;
	color: #6bcae2 !important;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	border-radius: 10px;
}
#ifCodeContent #toGameButton {
	display: inline-block;
	background-color: #050b1f;
	color: #6bcae2 !important;
	text-align: center;
	font: normal 2vw verdana;
	padding: 1.5vw;
	margin-top: 1.5vw;
	margin-bottom: 1.5vw;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
	border: solid 1px rgba(0,0,0,0.2);
	border-radius: 10px;
}

#ifCodeContent #toGameButton:hover {
	background-color: #fbfaf5;
}

.ifNotes {
	margin-bottom: 1.5vw;
}

#ifCodeContent #fontsizer {  
	display: inline-block;	
	font-family: calibri;
}
#ifCodeContent #fontsizer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#ifCodeContent #fontsizer li {
	text-align: center;
	margin: 0;
	float: left;
	width: 5vw;		
	height: 5vw;
	line-height: 5vw;
	background: #050b1f;
	color: #6bcae2 !important;
}

#ifCodeContent #fontsizer li:hover {
	background: #fbfaf5;
}

#ifCodeContent #fontsizer li:nth-child(2) {
	font-size: 2vw;
}

#ifCodeContent #fontsizer li:nth-child(3) {
	font-size: 3vw;
	border-radius: 0px 10px 10px 0px;
}

#ifCodeContent #fontsizer li:nth-child(1) {
	border-radius: 10px 0px 0px 10px;
}
