/* Nav bar general layout */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.navbarr nav {
  padding: 0;
  width: 100%;
  top: 0;
  z-index: 20;
  background-color: rgb(127, 255, 212);
  display: block;
  background-image: linear-gradient(to right, rgb(127, 255, 212), #c7d8e7);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/*Make the scrolling smooth*/
* {
  scroll-behavior: smooth;
}

.topnav {
  position: fixed;
  border-bottom: 1px solid #c7d8e7;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.topnav a {
  top: 0;
  float: right;
  padding: 5px 5px 5px 5px;
  margin: 13px 5px 5px 5px;
  text-decoration: none;
  color: black;
}
.topnav a:hover {
  border-radius: 10px;
  color: #000000;
  background-color: #7fffd4;
  text-decoration: none;
}

.bottomnav {
  border-top: 1px solid #c7d8e7;
  background-image: linear-gradient(to left, rgb(127, 255, 212), #c7d8e7);
  height: 50px;
  position: relative;
  width: 100%;
  margin: 0;
}
.bottomnav a {
  bottom: 0;
  float: left;
  padding: 5px 5px 5px 5px;
  margin: 13px 5px 5px 5px;
  text-decoration: none;
  color: black;
}

.bottomnav a:hover {
  border-radius: 10px;
  color: #000000;
  background-color: #7fffd4;
}
.signin a {
  border-style: outset;
  text-align: center;
  text-decoration: none;
  padding: 5px 30px 5px 30px;
  margin: 10px 5px 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}
.signin a:hover {
  background-color: #7fffd4;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

.logo {
  font-family: "Lobster", cursive;
  font-size: 20px;
  margin: 0 30px;
  padding: 11px 0;
  float: left;
}

.logo a {
  padding: 0;
  margin: 0;
  color: #0d659d;
}

.logo a:hover {
  color: #000;
}

#myBtn {
  /*    smooth scroll to top instead of jump*/
  scroll-behavior: smooth;
  display: none;
  position: fixed;
  text-align: center;
  width: 60px;
  height: 20px;
  bottom: 45px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: ridge;
  outline: none;
  background-color: #7fffd4;
  color: #000000;
  cursor: pointer;
  padding: 5px 15px 20px 15px;
  border-radius: 10px;
  border: inset;
}
/*Username dropdown list css*/
.topnav .navbar-dropdown a {
  margin: 12px 35px 10px 20px;
  background-color: transparent;
  border: none;
}
.topnav .navbar-dropdown-elements {
  overflow: hidden;
  max-height: 0;
  position: absolute;
  right: 1%;
  transition: max-height 0.7s ease;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 35px 0px 0px;
  margin: 10px 0px 0px 0px;
  border-radius: 10px;
}
.topnav .navbar-dropdown-elements a {
  display: block;
  float: none;
  text-decoration: none;
  color: black;
  padding: 10px 5px 0px;
  text-align: center;
  margin: 5px;
  background-color: #c7d8e7;
}

.topnav .navbar-dropdown:hover .navbar-dropdown-elements:hover {
  max-height: 250px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
