/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

body{
  font-family: 'Baloo Bhaina 2', cursive;
  background-color: white;
}

pre{
  color: white;
  background-color: #050b1f; 
}

#italize{
  font-style: italic;
  font-size: 15px;
}
.container-fluid{
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}

#center-page{
  text-align: center;
  background-color: #0D659D;
}
.container-fluid h1 {
  color: #6BCAE2;
  position: relative;
  width: 23rem;
}

.container-fluid h1 ::after{
  position: absolute;
  bottom: 0;
  right: 12px;
  width: 67px;
  height: 2px;
  background-color: #6BCAE2;
}

.icon_accordion{
  width: 100%;
  padding: 0 5px;
  border: 2px solid #0D659D;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.icon_accordion .icon{
  margin: 0 10px 0 0;
  width: 30px;
  height: 30px;
  background: #0D659D;
  border-radius: 50%;
  float: left;
  transition: all .5s ease-in;
}

.icon_accordion h5{
  font-size: 15px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: normal;
  color: #1f5c9a;
  transition: all .5s ease-in;
}

.active .icon{
  background: #fff;
  z-index: 1;
}

.active { 
  background-color: #0D659D;
  color: #fff;
}

.active h5{
  color: #fff;
}

.panel{
  padding: 0 18px;
  border-left: 1px solid #0D659D;
  margin-left: 25px;
  font-size: 14px;
  text-align: justify;
  overflow: hidden;
  max-height: 0px;
  transition: all .5s ease-in;
}