.settings {
  padding-bottom: 74px;
  background-color: var(--bb);
}
.container-1140 {
  width: 1140px;
  margin: auto;
}
.nav-item .active {
  background-color: none;
  border: #c7d8e7;
}
.root {
  --dblue: #0d659d;
  --blk: #050b1f;
  --aqmr: #6bcae2;
  --bb: #c7d8e7;
}
.mainnav {
  background-color: #c7d8e7;
}
.setting-list li,
.setting-list p {
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
}
.setting-list p {
  font-size: 14px;
  display: inline-block;
}

.linebreak {
  color: #050b1f;
  width: 20px;
}
#circle {
  height: 154px;
  width: 154px;
  background-color: #050b1f;
  border-radius: 50%;

  z-index: 3;

  background-image: url("../images/Missing_avatar.svg");
  background-size: contain;
}

.tab-list,
.nav-item {
  text-decoration: none;
  list-style-type: none;
  background: none;
  display: inline-block;
}

.settings * {
  box-sizing: border-box;
}
.settings {
  font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
  padding-top: 0px;
  float: left;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #6bcae2;
  width: 20%;
  height: 100%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #c7d8e7;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #0d659d;
}

/* Style the tab content */
.tabcontent {
  margin-top: 15px;
  float: left;
  padding: 0px 0px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 60%;
  height: 300px;
  margin-left: 60px;
  padding-left: 2%;
}
#notifs {
  display: none;
  padding-bottom: 200px;
}
#privacy {
  display: none;
  padding-bottom: 230px;
}
#general {
  display: none;
  padding-bottom: 130px;
}
.acc-preview {
  padding-top: 50%;
}

@media only screen and (max-width: 768px) {
  .acc-preview {
    padding-top: 0%;
  }
}

.contenttab {
  padding-bottom: 250px;
}

.acc-preview > p {
  color: rgb(97, 97, 97);
  font-weight: 100;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 0%;
  font-style: italic;
  margin-top: 0%;
}
#user {
  font-size: 13px;
  color: rgb(68, 68, 68);
  font-style: normal;
  display: inline;
  margin-left: 62px;
}
#setting-title {
  margin-top: 5%;
  margin-left: 290px;
  margin-bottom: 5px;
}
.half {
  width: 49%;
  display: inline-block;
}
.checkboxes {
  float: right;
  margin-right: 50px;
  margin-top: -175px;
}
.setting-list {
  padding-left: 0%;
}
#defaultOpen {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.inline {
  display: inline;
}

.success {
  color: green;
}
