/*
* {
    border: 1px solid black;
}
*/

/*
Header
*/
header {
    background: lightgreen;
}

.divhead {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.divhead a {
    padding: 5px;
    margin: 5px;
    width: 95%;
    margin: 0 auto;
}

#logo {
    justify-self: flex-start;
}

/*
About Section
*/
#about-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#about {
    display: flex;
    flex-direction: row;
    width: 95%;
}

#img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/*
Carousel
*/
.carousel-container {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner div {
    width: 500px;
    height: 500px;
}

.item {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about-dev {
    display: flex;
    flex-direction: row;
    
}



